*{
    font-family: 'Poppins';
}


#background-image img{
    width: 97.8vw; 
    height: 97.8vh;
    object-fit: cover;
    border-radius: 5px;
    
}

#login-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 25px;
    background-color: white;
    padding: 20px;    
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

.form-email, .form-password, .form-submit{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 15px;
    
}
input[type="submit"]{
    border-radius: 7px;
    background: #2F667B;
    border: none ;
    color: white;
    padding: 10px;
}
label{
    font-size: 18;
    font-weight: 600;
    margin-bottom: 5px;
}
input{
    padding: 10px;
    border-radius: 7px;
    border: 2px solid #2F667B;
}

#login-header{
    display: flex;
    background-color: #2F667B;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    border-radius: 15px;
    background: rgba(47, 102, 123, 0.15);
    box-shadow: 0px 4px 25px 4px rgba(0, 0, 0, 0.05);
}
#login-header img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

#login-header h1{
    color: #000;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
